[06/04/2018 11:15:27] Listening on port 8080.</br>[06/04/2018 11:15:27] WebSocket server listening...</br>[06/04/2018 11:15:27] New WebSocket connection...</br>[06/04/2018 11:15:27] Logging in HoloLens (profile DEMO.260_HL)...</br>[06/04/2018 11:15:27] Broadcasting updated user list...</br>